h1, h3 {
  text-align: center;
}

h3 {
  background-color: black;
  color: white;
  margin-bottom: 0px;
}

.news p {
  background-color: #CCCCCC;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: blue;
}
